button {
  background-color: rgb(206, 82, 82);
  color: #fff;
  padding: 0.5rem 2rem;
}
input {
  padding: 0.5rem 2rem;
}
#todo-list {
  display: flex;
  flex-wrap: wrap;
}
.todo {
  border: 1px solid grey;
  width: fit-content;
  padding: 0.5rem;
  margin: 1rem 1rem 0 0;
  font-weight: 600;
  font-size: larger;
  color: rgb(51, 48, 48);
}
.done {
  background-color: rgba(191, 186, 186, 0.855);
}
